<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebGridModel.Properties.Settings.AnalisisAcademicoConnectionString"
            connectionString="Data Source=DESKTOP-JH1G86M;Initial Catalog=AnalisisAcademico;Persist Security Info=True;User ID=sa;Password=Sistemas410"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>